/* External CSS file for Lab 3 */
/* This file contains basic styling and comments */

header {
  background-color: lightpink;
  width: 80%;
  position: relative;
  top: 10px;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;

  /* margin longhand + auto */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body {
  background-color: lightgray;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

h1 {
  color: rgb(105, 7, 225);
  text-decoration: underline;
  font-size: 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(235, 193, 213);
}

p {
  color: #0b0b0b;
  font-size: 1rem;
}

footer {
  background-color: hsla(300, 64%, 36%, 0.3);
  border: 2px dashed black;
}

/* CSS variable with fallback */
:root {
  --main-color: rgb(0, 0, 250);
}

strong {
  color: var(--main-color, black);
}

/* Wider-gamut color */
section {
  background-color: color(display-p3 1 0.9 1);
  padding: 2vw;
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;

  /* padding longhand */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  /* margin shorthand */
  margin: 20px 10px 20px 10px;
}

li {
  background-color: color-mix(in srgb, rgb(253, 253, 253) 50%, rgb(171, 118, 214) 50%);
  text-align: left;
}

/* Units & sizing */
main {
  width: 80%;
  margin: 0 auto;
  min-width: 200px;
  max-width: 800px;
  /* padding shorthand */
  padding: 20px 30px 20px 30px;

  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  grid-auto-rows: auto;
}

video {
  height: 50mm;
}

img {
  width: 10cm;
}

span {
  display: inline;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

label {
  display: block;
}

/* hover */
a:hover {
  color: red;
  text-decoration: underline;
}

/* active */
button:active {
  background-color: rgb(123, 253, 255);
  color: rgb(0, 0, 0);
}

/* flex container */
nav ul {
  display: flex;

  /* flex properties */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
  padding-left: 10px;
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    width: 95%;
  }

  header {
    width: 95%;
  }

  body {
    font-size: 14px;
  }

  section {
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
  }
}
